<div class="jumbotron">
  <h1>Formulaire remplie Bravo!! </h1>
  <p>tu as bien crée <%=@user.username%> !</p>
  <br />
  <hr></hr>
  <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">return aux formulaires</a></p>
</div>
