<div class="jumbotron">
  <h1>Application pour remplire les formulaires </h1>
  <p>Tu dois aller dans l'onglet formulaire au dessus pour y acceder !</p>
<br />
  
<br />
<hr></hr>
<p><a class="btn btn-primary btn-lg" href="/users/new" role="button">formulaires</a><br />
  <font size="-4">Ou appuye sur le bouton pour acceder aux formulaires</font></p>

</div>
